.sidebarOptions {
	display: flex;
	align-items: center;
	height: 40px;
	padding: 0 10px;
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
	cursor: pointer;
	color: #818181;
}
.sidebarOptions > p {
	display: none;
	font-weight: 300;
}
.sidebarOptions > h3 {
	flex: 1;
	font-weight: 400;
	font-size: 14px;
	margin-left: 10px;
}
.sidebarOptions > .MuiSvgIcon-root {
	padding: 5px;
}
.sidebarOptions:hover > p {
	display: inline;
}
.sidebar--active > p {
	display: inline !important;
}
.sidebarOptions:hover,
.sidebarOptions:hover > p,
.sidebarOptions:hover > h3,
.sidebar--active,
.sidebar--active > p,
.sidebar--active > h3 {
	background-color: #fcecec;
	color: #c04b37;
	font-weight: 800 !important;
}
